@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.title {
    background-color: #EA0061;
    color: white;
    padding: 25px 20px;
    font-size: 10pt;
    text-align: center;
}

.title h1 {
    font-weight: 500;
}

#title-name {
    font-weight: 700;
}

.form {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 70vh;
    gap: 30px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.basic-info {
    align-items: center;
}

fieldset legend {
    margin-bottom: 20px;
    font-size: 13pt;
    font-weight: 700;
}

input {
    /* width: 100%; */
    padding: 10px 5px;
    border-radius: 50px;
    border: 2px solid #EA0061;
    outline: none;
    padding: 10px 20px;
    background-color: #fff0f6;

    color: #EA0061;
    font-weight: 700;
}

input::placeholder {
    color: #d26693;
    font-weight: 700;
}